.footer {
    background-color: #efddbe; /* Change to your preferred background color */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd; /* Optional: adds a border line at the top of the footer */
    border-top: 3px solid #e0aaff;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo {
    height: 40px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    display: block;
  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-link {
    margin: 0 10px;
    color: #000; /* Adjust color as needed */
  }
  
  .footer-link i {
    font-size: 24px; /* Adjust size as needed */
  }

  .footer-text {
    color: #245580; /* Text color */
    font-size: 16px; /* Font size */
    margin-top: 20px; /* Space above the text */
  }